{% extends 'ProyectoFinalApp/nav-aside.html' %}

{% load static %}

{% block contenidoPagina %}
<div class="bg-success bg-opacity-25">
    <h1 class="text-center fs-2">Blogs Cosme Fulanito</h1>
    <h2 class="text-center fs-3">Proyecto</h2>
    <div class="bg-primary text-white col-12 col-md-10 offset-md-1 p-2 lead">
        <p>En este proyecto se encara la confeccion de una pagina web tipo Blog, utilizando el framework de Django para la realizacion del mismo. </p>
        <p>Django es un framework de desarrollo web de código abierto, escrito en Python, que respeta el patrón de diseño conocido como MVC (modelo - vista - controlador). </p>
        <p>En el trabajo se implementan funciones tipo CRUD (Create, Read, Update, Delete) de los usuarios y Blogs, tambien se implementara el uso de comentarios en los blogs, retricciones de las paginas que puede visitar el usuario.</p>
    </div>
    
    <h2 class="text-center fs-3">Creadores</h2>
    <!-- About Section-->
    <div class="my-3">
        <section class="page-section bg-primary text-white col-12 col-md-10 offset-md-1 d-flex" id="about">
            <img class="rounded mx-auto d-block my-4 ms-3" style="height:16rem;" src="https://scontent.ffdo4-1.fna.fbcdn.net/v/t1.6435-9/71836883_3280440831996083_846347649551433728_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=6SMGgCd8DgYAX_BHsKp&_nc_ht=scontent.ffdo4-1.fna&oh=00_AT-bWbQgfdNqsLl4-7s9IwCxf_sdUhOlp7AGtHvwgWxplg&oe=62FF2D1E" alt="Card image cap">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Braian Ferreyra</h2>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-5 ms-auto">
                        <p class="lead"> Tengo 26 años y soy Técnico superior en psicopedagogía. Siempre tuve mucho interés por el mundo de la programación en este año me puse como meta el poder cambiar de rubro laboral y empecé a formarme como programador.</p> 
                        <a class="page-section-heading text-center text-uppercase text-white m-2" href="https://github.com/Atchiam" target="_blank"> github </a>
                        <a class="page-section-heading text-center text-uppercase text-white m-2" href="https://www.linkedin.com/in/braian-ferreyra-1204701ba/" target="_blank"> linkedin </a>
                    </div>
                    <div class="col-lg-5 me-auto">
                        <p class="lead">En el presenté año me encuentro finalizando el curso de "Python" y estoy cursando la carrera de "Desarrollo Full Stack" en la cual ya finalice la sección de "HTML y CSS" y cursando activamente "JavaScript" todo desde la plataforma CoderHouse, el año que viene me inscribiré a la universidad para poder afianzar aun más mis conocimientos.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- About Section-->
    <div class="my-3">
        <section class="page-section bg-primary text-white col-12 col-md-10 offset-md-1 d-flex" id="about">
            <img class="rounded mx-auto d-block my-4 ms-3" style="height:10rem;" src="https://media-exp1.licdn.com/dms/image/C4D03AQHJFdnJfdB6QQ/profile-displayphoto-shrink_200_200/0/1595941566115?e=1663804800&v=beta&t=yTtztnq1OvKzvf4X5KCdMsno5EtYkoIW6B9aQWFlyu8" alt="Card image cap">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Centeno Bernardo</h2>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-5 ms-auto">
                        <p class="lead">Tengo 22 años y estoy estudiando la licenciatura en administracion agraria. Me meti en el mundo de la programacion porque pense que puede ser un buen complemento con mi carrera y simpre tuve cierto interes.</p> 
                    </div>
                    <div class="col-lg-5 me-auto">
                        <p class="lead">mis metas para los proximos años serian poder adentrarme un poco mas en el mudo de la programacion y el analisis de datos y poder implementar todo esto con mis estudios univeritario.</p>
                        <a class="page-section-heading text-center text-uppercase text-white m-2" href="https://github.com/Bernardo-Centeno" target="_blank"> github </a>
                        <a class="page-section-heading text-center text-uppercase text-white m-2" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin" target="_blank"> Linkedin </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}