{% extends 'ProyectoFinalApp/nav-aside.html' %}

{% load static %}

{% block contenidoPagina %}
<div class="bg-success bg-opacity-25">
    <p class="text-center fs-2">Blogs Cosme Fulanito</p>
    <p class="text-center fs-3">About</p>
    <!-- About Section-->
    <div class="my-3">
        <section class="page-section bg-primary text-white col-12 col-md-10 offset-md-1 d-flex" id="about">
            <img class="rounded mx-auto d-block mt-4 ms-3" style="height:10rem;" src="https://scontent.ffdo4-1.fna.fbcdn.net/v/t1.6435-9/71836883_3280440831996083_846347649551433728_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=6SMGgCd8DgYAX_BHsKp&_nc_ht=scontent.ffdo4-1.fna&oh=00_AT-bWbQgfdNqsLl4-7s9IwCxf_sdUhOlp7AGtHvwgWxplg&oe=62FF2D1E" alt="Card image cap">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Braian Ferreyra</h2>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-5 ms-auto">
                        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p> 
                    </div>
                    <div class="col-lg-5 me-auto">
                        <p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
                        <a class="page-section-heading text-center text-uppercase text-white m-2" href="https://github.com/Atchiam"> github </a>
                        <a class="page-section-heading text-center text-uppercase text-white m-2" href="https://www.linkedin.com/in/braian-ferreyra-1204701ba/"> linkedin </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- About Section-->
    <div class="my-3">
        <section class="page-section bg-primary text-white col-12 col-md-10 offset-md-1 d-flex" id="about">
            <img class="rounded mx-auto d-block mt-4 ms-3" style="height:10rem;" src="https://scontent.ffdo4-1.fna.fbcdn.net/v/t1.6435-9/71836883_3280440831996083_846347649551433728_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=6SMGgCd8DgYAX_BHsKp&_nc_ht=scontent.ffdo4-1.fna&oh=00_AT-bWbQgfdNqsLl4-7s9IwCxf_sdUhOlp7AGtHvwgWxplg&oe=62FF2D1E" alt="Card image cap">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Braian Ferreyra</h2>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-5 ms-auto">
                        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p> 
                    </div>
                    <div class="col-lg-5 me-auto">
                        <p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
                        <a class="page-section-heading text-center text-uppercase text-white m-2" href="https://github.com/Atchiam"> github </a>
                        <a class="page-section-heading text-center text-uppercase text-white m-2" href="https://www.linkedin.com/in/braian-ferreyra-1204701ba/"> linkedin </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}