{% extends 'ProyectoFinalApp/nav-aside.html' %}

{% load static %}

{% block contenidoPagina %}
<h1>Agregar Comida</h1>

    <form class="cuestionario m-0 row col-10 " action="" method="post">
        {%csrf_token%}
        <fieldset class="cuestionario__body mt-0 ">
            <legend class="">Comida</legend>
            <div class="">
                <label>tipo: <input class="d-flex " type="text" name="tipo" placeholder="Gato o Perro " maxlength="30"></label>
                <label>tamaño: <input class="d-flex " type="text" name="tamaño" placeholder="Grande Mediano Pequeño " maxlength="30" > </label>
                <label>nombre: <input class="d-flex " type="text" name="nombre" placeholder="Marca" maxlength="30"> </label>
                <label>peso: <input class="d-flex " type="number" name="peso" placeholder="Kg" min="0"> </label>
                <label>precio: <input class="d-flex " type="number" name="precio" placeholder="Precio" min="0"> </label>      
            </div>
            <div class="">
                <input class="btn" type="reset">
                <input class="btn" type="submit">
            </div>
        </fieldset>
    </form>

{% endblock %}