{% extends 'ProyectoFinalApp/nav-aside.html' %}

{% load static %}

{% block contenidoPagina %}
<div class="bg-success bg-opacity-25">
    <h1>Bienvenidos a blogs-fulanito</h1>
    <div class="m-4">
        <p class="mb-2"> Buscar blog: </p>
        <form action="blog" method="post">
            {% csrf_token %}
        
            <!-- <p>Curso: <input type="text" name="nombre" id=""maxlength="30"></p> -->
            <input type="text" name="nombre" id="" min="0"> 
        
            <input type="submit" value="Buscar...">
        </form> 
        <a class="btn btn-primary mt-2" href="{% url 'nuevo_blog' %}">Sumar un blog</a>
    </div>

    <p class="m-4">Resultado:</p>

    <div class="d-flex flex-wrap card-deck justify-content-evenly ">
        {% for resultado in blogs %}
            <!-- <li>título: {{resultado.título}} subtítulo: {{resultado.subtítulo}} texto: {{resultado.texto}} imagen: {{resultado.imagen}} autor: {{resultado.autor}} fecha: {{resultado.fecha}}
            </li> -->
            <div class="card-deck m-1" style="width: 17rem;">
                <div class="card">
                    <img class="card-img-top rounded mx-auto d-block" style="height:10rem;" src="{{resultado.imagen}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{resultado.título}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{resultado.subtítulo}}</h6>
                        <p class="card-text">{{resultado.texto}}</p>
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-evenly ">
                        <a href="#" class="card-link">{{resultado.autor}}</a>
                        <small class="text-muted">{{resultado.fecha}}</small>
                        <a href="{% url 'editar_blog' resultado.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar</a>
                        <a href="{% url 'borrar_blog' resultado.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</a>
                        <a href="{% url 'ver_blog' resultado.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> ver</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}