{% extends 'ProyectoFinalApp/nav-aside.html' %}

{% load static %}

{% block contenidoPagina %}
<div class="bg-success bg-opacity-25">
    <h1>Bienvenidos a blogs-fulanito</h1>
    <p>Buscar blog: 
        <form action="blog" method="post">
            {% csrf_token %}
        
            <!-- <p>Curso: <input type="text" name="nombre" id=""maxlength="30"></p> -->
            <input type="text" name="nombre" id="" min="0"> 
        
            <input type="submit" value="Buscar...">
        </form> 
    </p>

    <p>Resultado:</p>

    <div class="d-flex flex-wrap card-deck justify-content-evenly ">
        {% for resultado in blogs %}
            <!-- <li>título: {{resultado.título}} subtítulo: {{resultado.subtítulo}} texto: {{resultado.texto}} imagen: {{resultado.imagen}} autor: {{resultado.autor}} fecha: {{resultado.fecha}}
            </li> -->
            <div class="card-deck m-1" style="width: 17rem;">
                <div class="card">
                    <img class="card-img-top rounded mx-auto d-block" style="height:10rem;" src="{{resultado.imagen}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{resultado.título}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{resultado.subtítulo}}</h6>
                        <p class="card-text">{{resultado.texto}}</p>
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-evenly ">
                        <a href="#" class="card-link">{{resultado.autor}}</a>
                        <small class="text-muted">{{resultado.fecha}}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}