{% extends 'ProyectoFinalApp/nav-aside.html' %}

{% load static %}

{% block contenidoPagina %}
<div class="bg-success bg-opacity-25">
    <h1>Bienvenidos a blogs-fulanito</h1>
    <p>Resultado:</p>
    <a href="{% url 'editar_blog' blog.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar</a>
    <a href="{% url 'borrar_blog' blog.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</a>
    <div class="d-flex flex-wrap card-deck justify-content-evenly ">
            <!-- <li>título: {{resultado.título}} subtítulo: {{resultado.subtítulo}} texto: {{resultado.texto}} imagen: {{resultado.imagen}} autor: {{resultado.autor}} fecha: {{resultado.fecha}}
            </li> -->
            <div class="card-deck m-1">
                <div class="card">
                    <img class="card-img-top rounded mx-auto d-block" style="height:10rem;" src="{{blog.imagen}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{blog.título}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{blog.subtítulo}}</h6>
                        <p class="card-text">{{blog.texto}}</p>
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-evenly ">
                        <a href="#" class="card-link">{{blog.autor}}</a>
                        <small class="text-muted">{{blog.fecha}}</small>

                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}